rl_navigation[rllib] @ git+https://git@github.com/mit-pslam/rl_navigation.git@develop#egg=rl_navigation
rllib_policies@git+https://git@github.com/mit-pslam/rllib-policies.git@master#egg=rllib_policies
